* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background: #ffe9d9;
    display: flex;
    flex-direction: column;
    min-height: 130vh
}
nav {
    background-color: #380f00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: relative;
}
.logo {
    color: #0affcf;
    font-size: 24px;
    font-weight: bold;
}
.logo img {
    transition: transform 0.6s ease;
}
.logo img:hover{
    transform: scale(0.85);
}
.navlinks {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
}
.navlinks a {
    color: #0affcf;
    text-decoration: none;
    font-size: 35px;
    display:inline-block;
    transition: transform 0.6s ease;
    margin-right: 23px;
}
.navlinks a:hover {
    color: #a82f2f;
    transform: scale(0.85);
}
/* burger */
.burgertoggle {
    display: none;
    font-size: 28px;
    color: #0affcf;
    cursor: pointer;
}
main{
    flex:1
}
/*quick scroll*/
#scrollTopBtn {
    position: fixed;
    bottom: 35px;
    right: 30px;

    display: none; /* hidden until scroll */

    background-color: #380f00;
    color: #0AFFCF;

    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 25px;
    cursor: pointer;
}
/*TEXT*/
/* right side content, video*/
.page{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    flex: 1;

}
.left{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
}
.right{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    padding: 10px;
    background-color: #380f001f;
}
.tbox{
    margin: 5px;
    margin-left: 23px;
    background: #380f001f;
    padding: 10px;
}
.video1{
    margin: 5px;
    width: 98%;
    height: 98%;
    max-height: 600px;
    max-width: 1383px;
    background: #380f00;
    cursor: pointer;
    object-fit: cover;
}
/*format of text elements*/
.title{
    font-size:25px;
    text-align: center;
    color: #380F00;

}
.content {
    color: #380F00;
    text-align: justify;
}
.page{
    flex:1;
}

footer{
    text-align: center;
    padding: 20px;
    background: #a82f2f;
    color: #380f00;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #380f00;
    transition: transform 0.6s ease;

}
.footer-links a:hover{
    text-decoration:underline;
    color: #FFE9D9;
    text-decoration-color:#FFE9D9;
}
footer a{
    margin: 0 10px;
    text-decoration: none;
    color: #380f00;
    transition: transform 0.6s ease;

}
footer a:hover{
    text-decoration:underline;
    color: #FFE9D9;
    text-decoration-color:#FFE9D9;
}

    /* responsive scale */
@media (max-width: 768px) {

    .burgertoggle {
        display: block;
    }

    .navlinks {
        display: none;
        flex-direction: column;
        background-color: #380f00;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 20px;
    }

    .navlinks.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .page {
        grid-template-columns: 1fr;
        height: auto;
    }

    .right {
        grid-template-rows: auto;
    }
    .tbox{
        margin: 5px;
        background: #380f001f;
        padding: 10px;
        }
    footer {
        padding: 20px;
        height: auto;   /* IMPORTANT */
        gap: 15px;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    footer a {
        display: block;
    }
}

